@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*
    If you want to do server side comments you use the @ followed by a * like this.
    These comments will be stripped out before the page is sent back to the client.
    The ones that are HTML like <!-- --> will be sent to the client. Know what info
    you are okay letting the client see.

    Here is where we are pulling the Message variable out of the ViewBag and using
    it inbetween two h3 tags.
*@
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>